/* 中心轴 */
.container{
    width: 1350px !important;
    left: 50%;
    position: relative;
    margin-left: -675px;
}
/* 顶部 */
header{
    background: #f5f5f5 ;
    margin-left: 10px;
    margin-right: 10px;
}
header .header{
    display: flex;
    font-size: 12px;
    color: #6C6C6C;
    justify-content: space-between; 
}
/* 顶部左边 */
.header .left a{
    height:30px;
    line-height: 30px;
    padding-right: 10px;
}

/* 顶部右边 */
header ul{
    display: flex;
}
header li{
    list-style: none;
    height:30px;
    line-height: 30px;
    padding-left: 20px;
}
