/* 中心轴 */
.container{
    width: 1350px !important;
    left: 50%;
    position: relative;
    margin-left: -675px;
}



/* 顶部 */
header{
    background: #f5f5f5 ;
    margin-left: 10px;
    margin-right: 10px;
}
header .header{
    display: flex;
    font-size: 12px;
    color: #6C6C6C !important;
    justify-content: space-between; 
}



/* 顶部左边 */
.header .left a{
    height:30px;
    line-height: 30px;
    color: #6C6C6C !important;
    padding-right: 10px;
}
.header .left .header_first,
.icon-gouwuche,
.icon-daohang
{
    color:#f22e00!important 
}



/* 顶部右边 */
header ul{
    display: flex;
}
header li{
    list-style: none;
    height:30px;
    line-height: 30px;
    padding-left: 20px;
}


/* 顶部右边iconfont字体 部分 */
header li .icon-gouwuche,
header li .icon-jiantouarrow483,
header li .icon-daohang
{
    font-size: 10px;
}