



/* 顶部 */
header{
    background: #f5f5f5 ;
    margin-left: 10px;
    margin-right: 10px;
}
header .header{
    display: flex;
    font-size: 12px;
    color: #6C6C6C !important;
    justify-content: space-between; 
}



/* 顶部左边 */
.header .left a{
    height:30px;
    line-height: 30px;
    color: #6C6C6C !important;
    padding-right: 10px;
}
.header .left .header_first,
.icon-gouwuche,
.icon-daohang
{
    color:#f22e00!important 
}



/* 顶部右边 */

header .nav_Right{
    display: flex;
}
header .nav_Right div{
    padding-left: 20px;
    height:30px;
    line-height: 30px;
}

/* 顶部右边iconfont字体 部分 */
header .nav_Right .icon-gouwuche,
header .nav_Right .icon-jiantouarrow483,
header .nav_Right .icon-daohang
{
    font-size: 10px;
}


.right .nav_Right div:hover{
    color: #f22e00;
}
.right .nav_Right div{
    cursor: pointer;
}
.right .nav_Right #myTbInfor,
.right .nav_Right #collInfor
{
    display: none;
}